---
import SearchIcon from "@/assets/icons/search.astro";
import MoonIcon from "@/assets/icons/moon.astro";
import LogoBatatabit from "@/assets/icons/logo.astro";
import MenuIcon from "@/assets/icons/manu.astro";
import BitcoinIcon from "@/assets/icons/bitcoin.astro";
import BatataIcon from "@/assets/icons/batata.astro";
import ClockIcon from "@/assets/icons/clock.astro";
import EyeIcon from "@/assets/icons/eye.astro";
import DollarIcon from "@/assets/icons/dollar.astro";
import CheckIcon from "@/assets/icons/check.astro";
const pageTitle = "Batatbit";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class=" bg-off-white">
    <header>
      <nav
        class="text-just-white font-semibold bg-gradient-to-r from-black from-25% to-yellow-500 via-orange-500 w-full h-16 lg:flex lg:justify-between flex justify-between items-center lg:items-center p-8 border-b-2 fixed z-10"
      >
        <LogoBatatabit />
        <ul aria-hidden="true" class="hidden lg:flex space-x-4">
          <li class="hover:text-yellow-400 hover:text-primary">
            <a href="">Inicio</a>
          </li>
          <li class="hover:text-yellow-400 hover:text-primary">
            <a href="">Nosotros</a>
          </li>
          <li class="hover:text-yellow-400 hover:text-primary">
            <a href="">Mercados</a>
          </li>
          <li class="hover:text-yellow-400 hover:text-primary">
            <a href="">Planes</a>
          </li>
          <li class="hover:text-yellow-400 hover:text-primary">
            <a href="">Blog</a>
          </li>
        </ul>
        <div
          aria-hidden="true"
          class="hidden lg:flex justify-between items-center space-x-2"
        >
          <input
            class="text-gray p-2 rounded-lg shadow-sm transition duration-300 focus-within:shadow-sm focus:ring-2 focus:w-56"
            type="search"
            placeholder="Buscar..."
          />
          <SearchIcon />
          <ul class="justify-center items-center">
            <a
              href=""
              type="button"
              class="px-4 p-2 w-32 bg-background-dark rounded-lg text-white"
              >Iniciar Sesión</a
            >
            <a
              href=""
              type="button"
              class="px-4 p-2 w-32 bg-soft-blue rounded-lg text-warm-black"
              >Registrate</a
            >
          </ul>
          <MoonIcon />
        </div>
        <ul class="lg:hidden">
          <MenuIcon />
        </ul>
      </nav>
    </header><!--End Header -->
    <main class="w-full pt-20">
      <section
        class="w-full h-auto flex flex-col min-w-72 justify-center items-center mt-8"
      >
        <BitcoinIcon />
        <article class="mt-8 text-center text-gray px-4">
          <h1 class="text-3xl font-bold mb-4">
            La próxima revolución en el intercambio de criptomonedas
          </h1>
          <p class="font-semibold">
            Batatabit te ayuda a navegar entre los diferentes precios y
            tendencias.
          </p>
        </article><!--End Hero -->
      </section>
      <section class=" w-full h-auto">
        <article class="mt-8 text-center text-gray px-4">
          <h2 class="text-2xl font-bold mb-4">
            Visibilizamos todas las tasas de cambio.
          </h2>
          <p class="font-semibold">
            Traemos información en tiempo real de las tasas de cambio y las
            monedas más importantes del mundo
          </p>
        </article>
        <div class="lg:flex justify-center mb-8 lg:gap-20 ">
          <div class=" w-50% flex flex-col justify-center items-center m-5">
            <h3 class="text-primary font-bold text-xl mb-4">Monedas</h3>
            <div class="w-full grid grid-rows-4 grid-flow-col gap-1">
              <div class="p-2 rounded-lg bg-white text-center font-medium">Bitcoin</div>
              <div class="p-2 rounded-lg bg-white text-center font-medium">Ethereum</div>
              <div class="p-2 rounded-lg bg-white text-center font-medium">Ripple</div>
              <div class="p-2 rounded-lg bg-white text-center font-medium">Stellar</div>
              <div class="p-2 rounded-lg bg-white text-center font-medium text-gray">$20.43</div>
              <div class="p-2 rounded-lg bg-white text-center font-medium text-gray">$2.15</div>
              <div class="p-2 rounded-lg bg-white text-center font-medium text-gray">$13.15</div>
              <div class="p-2 rounded-lg bg-white text-center font-medium text-gray">$4.96</div>
            </div>
            <div class="pt-4">
              <p class="p-2 bg-soft-orange rounded-lg"><b class=" font-semibold">Actualizado: </b>08 de enero 21:09</p>
            </div>
          </div>
          <div class=" w-50% flex flex-col justify-center items-center m-5">
            <h3 class="text-secondary font-bold text-xl mb-4">Comisiones</h3>
            <div class="w-full grid grid-rows-4 grid-flow-col gap-1">
              <div class="p-2 rounded-lg bg-white text-center font-medium">Bitrade</div>
              <div class="p-2 rounded-lg bg-white text-center font-medium">Bitpreco</div>
              <div class="p-2 rounded-lg bg-white text-center font-medium">Novadax</div>
              <div class="p-2 rounded-lg bg-white text-center font-medium">Coinext</div>
              <div class="p-2 rounded-lg bg-white text-center font-medium text-gray">$12.96</div>
              <div class="p-2 rounded-lg bg-white text-center font-medium text-gray">$13.07</div>
              <div class="p-2 rounded-lg bg-white text-center font-medium text-gray">$13.15</div>
              <div class="p-2 rounded-lg bg-white text-center font-medium text-gray">$14.96</div>
            </div>
            <div class="pt-4">
              <p class="p-2 bg-soft-blue rounded-lg"><b class=" font-semibold">Actualizado: </b>08 de enero 21:09</p>
            </div>
          </div>
        </div>
        
      </section><!--End Mercados -->
      <section class=" bg-background-dark w-full h-auto text-just-white relative">
        <span class="absolute -top-3 left-[calc(50%-40px/2)]"><BatataIcon/></span>
        <div class="text-center pb-5">
          <h2 class=" font-bold text-2xl pt-14">Creamos un producto sin comparación</h2>
          <p class="pt-4 font-semibold">Confiable y diseñado para su uso diario.</p>
        </div>
        <section class=" lg:grid grid-rows-2 grid-flow-col lg:gap-16 lg:px-16 justify-center">
          <article class="card bg-black p-4 m-4 rounded-md min-w-72 max-w-96">
            <span><ClockIcon/></span>
            <h3 class=" font-bold text-xl pt-3">Tiempo real</h3>
            <p class=" lg:font-medium">Nuestra API toma información minuto aminuto sobre las tasas que más determinan el comportamiento.</p>
          </article>
          <article class="card bg-black p-4 m-4 rounded-md min-w-72 max-w-96">
            <span><DollarIcon/></span>
            <h3 class=" font-bold text-xl pt-3">Compra monedas</h3>
            <p class=" lg:font-medium">No más rumores, con Batatabit sabrás el valor real de cada moneda en el mercado actual.</p>
          </article>
          <article class="card bg-black p-4 m-4 rounded-md min-w-72 max-w-96">
            <span><EyeIcon/></span>
            <h3 class=" font-bold text-xl pt-3">No hay tasas escondidas</h3>
            <p class=" lg:font-medium">Ni en la compra o al momento de exit, Batabit siempre te muestra el costo real de lo que estas adquiriendo.</p>
          </article>
          <article class="card bg-black p-4 m-4 rounded-md min-w-72 max-w-96">
            <span><CheckIcon/></span>
            <h3 class=" font-bold text-xl pt-3">Información confiable</h3>
            <p class=" lg:font-medium">Nuestras fuentes están 100% verificadas y continuamos auditando su contenido mientras se actualizan.</p>
          </article>
        </section>
      </section>
    </main>
  </body>
</html>

<style>
  .card:hover,
  .card:focus{
    padding: 16px;
    border-radius: 5px;
    border: 2px solid #0000;
    background: 
    linear-gradient(black, #222) padding-box,
    linear-gradient(#fd8f0b,#1A9AF7) border-box;
  }
</style>