<section class="bitcoin-img-conatiner">
  <h2 class="text-center text-just-white text-3xl font-bold pt-16">
    Descubralo hoy
  </h2>
</section>
<style>
  .bitcoin-img-conatiner {
    width: 100%;
    min-width: 320px;
    height: 60vh;
    background-image: url("../assets/img/bitcoinbaby.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
