---
import BitcoinIcon from "@/assets/icons/bitcoin.astro";
---

<section
  class="w-full h-auto flex flex-col min-w-72 justify-center items-center mt-8"
>
  <BitcoinIcon />
  <article class="mt-8 text-center text-gray px-4">
    <h1 class="text-3xl font-bold mb-4">
      La próxima revolución en el intercambio de criptomonedas
    </h1>
    <p class="font-semibold">
      Batatabit te ayuda a navegar entre los diferentes precios y tendencias.
    </p>
  </article>
</section>
