---
import TrendingDown from "@/assets/icons/trending-up.astro";
import TrendingUp from "@/assets/icons/trending-down.astro";
---

<section class="w-full h-auto">
  <article class="mt-8 text-center text-gray px-4">
    <h2 class="text-2xl font-bold mb-4">
      Visibilizamos todas las tasas de cambio.
    </h2>
    <p class="font-semibold">
      Traemos información en tiempo real de las tasas de cambio y las monedas
      más importantes del mundo
    </p>
  </article>
  <div
    class="flex h-80 lg:justify-center overflow-x-auto snap-proximity lg:overflow-x-hidden mb-8 lg:gap-x-4 overscroll-x-contain px-4"
  >
    <div
      class="min-w-52 max-w-72 flex flex-col justify-center items-center m-5 hover:-translate-y-4 transition-all p-2"
    >
      <h3 class="text-primary font-bold text-xl mb-4">Monedas</h3>
      <div class="w-full grid grid-rows-4 grid-flow-col gap-1">
        <div class="p-2 rounded-lg bg-white text-center font-medium">
          Bitcoin
        </div>
        <div class="p-2 rounded-lg bg-white text-center font-medium">
          Ethereum
        </div>
        <div class="p-2 rounded-lg bg-white text-center font-medium">BNB</div>
        <div class="p-2 rounded-lg bg-white text-center font-medium">DAI</div>
        <div
          class="flex justify-between space-x-2 items-center p-2 rounded-lg bg-white text-center font-medium text-gray/80"
        >
          $59405.26
          <TrendingDown />
        </div>
        <div
          class="flex justify-between space-x-2 items-center p-2 rounded-lg bg-white text-center font-medium text-gray/80"
        >
          $3303.69
          <TrendingDown />
        </div>
        <div
          class="flex justify-between space-x-2 items-center p-2 rounded-lg bg-white text-center font-medium text-gray/80"
        >
          $534.68
          <TrendingUp />
        </div>
        <div
          class="flex justify-between space-x-2 items-center p-2 rounded-lg bg-white text-center font-medium text-gray/80"
        >
          $1.00
          <TrendingUp />
        </div>
      </div>
      <div class="w-full pt-4">
        <p class="p-2 bg-soft-orange rounded-lg flex flex-wrap">
          <b class="font-semibold">Actualizado: </b>08 de enero 21:09
        </p>
      </div>
    </div>
    <div
      class="min-w-52 max-w-72 flex flex-col justify-center items-center m-5 hover:-translate-y-4 transition-all p-2"
    >
      <h3 class="text-secondary font-bold text-xl mb-4">Comisiones</h3>
      <div class="w-full grid grid-rows-4 grid-flow-col gap-1">
        <div class="p-2 rounded-lg bg-white text-center font-medium">
          Bitrade
        </div>
        <div class="p-2 rounded-lg bg-white text-center font-medium">
          Bitpreco
        </div>
        <div class="p-2 rounded-lg bg-white text-center font-medium">
          Novadax
        </div>
        <div class="p-2 rounded-lg bg-white text-center font-medium">
          Coinext
        </div>
        <div
          class="p-2 rounded-lg bg-white text-center font-medium text-gray/80"
        >
          $12.96
        </div>
        <div
          class="p-2 rounded-lg bg-white text-center font-medium text-gray/80"
        >
          $13.07
        </div>
        <div
          class="p-2 rounded-lg bg-white text-center font-medium text-gray/80"
        >
          $13.15
        </div>
        <div
          class="p-2 rounded-lg bg-white text-center font-medium text-gray/80"
        >
          $14.96
        </div>
      </div>
      <div class="pt-4">
        <p class="p-2 bg-soft-blue rounded-lg flex flex-wrap">
          <b class="font-semibold">Actualizado: </b>08 de enero 21:09
        </p>
      </div>
    </div>
  </div>
</section>
